<link rel="stylesheet" href="/css/edit.css">
<div id="head">
  <fieldset>
    <legend>Information</legend>
    <p>Id: <%= @doc.id %></p>
    <p>Name: <%= @doc.name %></p>
    <p>Tags: <%= "should be a foreach" %></p>
  </fieldset>

  <fieldset>
    <legend>Actions</legend>
    <% if defined? @edit_enabled %>
      <form action="/edit/<%= @doc.id %>" method="post">
        <input type="submit" value="save" class="action">
      </form>
      <form action="/edit/delete/<%= @doc.id %>" method="post">
        <input type="submit" value="delete" class="action">
      </form>
    <% else %>
      <form action="/edit/<%= @doc.id %>" method="post">
        <a href="/edit/<%= @doc.id %>" class="btn">edit</a>
      </form>
    <% end %>
  </fieldset>
</div>
<hr>
<div id="image-previews">
    <img src="<%= @doc.get_path %>">
</div>
